<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<div id="app">
			<input type="text" v-model="keyword" /><button type="button" @click="btn">搜索</button>
			<div v-for="(person,index) in resultList" :key="person.id">
				{{person.id}}--{{person.name}}--{{person.age}}
			</div>
			
		</div>
		
		
		
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		Vue.config.productionTip = false;
			new Vue({
				el:"#app",
				data(){
					return{
						keyword:'',
						dataList:[
							{id:001,name:"张三",age:18},
							{id:002,name:"李四",age:20},
							{id:003,name:"王五",age:19},
						],
						resultList:[
							{id:001,name:"张三",age:18},
							{id:002,name:"李四",age:20},
							{id:003,name:"王五",age:19},
						],
					}
				},
				methods:{
					btn(){
						this.resultList = this.dataList.filter((p)=>{
							return  p.name.indexOf(this.keyword) != -1	 
						})
						
					}
				}
				
				
			})
		</script>
	</body>
</html>
